!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title Deluge
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  != css("//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css")
  != css('app')

  != js('jquery/jquery.min.js')
  != js('underscore/underscore-min.js')
  != js('backbone/backbone-min.js')
  != js('handlebars/handlebars.js')

  != js('diorama/diorama.js')
  != js('diorama/js/application.js')

  != js('//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  != js('dropzone')

  != js('app')

body
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
          span.icon-bar
        a(href='#').brand Deluge
        ul.nav
          - var obj = { 'home':'Home', 'about':'About' }
            - each val, key in obj
                li
                  a(href='#{key}') #{val}

  div.container
    block content

| </html>
