@import 'nib'

body
  margin-top 60px

table
  color gray
  table-layout fixed

  tr.active
    color black

  th:first-child
    width 370px

  td:first-child
    overflow: hidden;
    white-space: nowrap;

    span
      display block;
      font-size 0.7em;
      color gray;
